
body {
	background: #1f2122;
	font-family: arial;
	color: #ffffff;
}

a{
	color: #ffffff ;
}

.top {
	background: #1f2122;
}

.menu {
	display: flex;
	justify-content: space-around;
}

.promocion {
	text-align: center;

}

nav {
	border-bottom: 5px solid #ffffff;
}

li {
	list-style: none;
}

footer {
	background: #000000;
	font-size: 12px;
	text-align: center;
}
